# taxa_db specific stuff
*accession2taxid*
taxdump*
*.dmp
gc.prt
readme.txt

# db
*.sqlite
*.sqlite.gz
*.sqlite-journal

# include the test database
!test_db.sqlite

# byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# virtualenv
taxa_env/
venv/

# testing
.cache
data/

# distribution / packaging
*.egg-info/

# mac stuff
.DS_Store
