# taxa_db specific stuff
*accession2taxid*
taxdump*
*.dmp
gc.prt
readme.txt

# db
*.sqlite

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# virtualenv
taxa_env/

#testing
.cache
data/

# Distribution / packaging
*.egg-info/
