[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
peewee = "==3.13.1"
tqdm = "*"
pymysql = "*"

[dev-packages]
nose = "*"
nose-testconfig = "*"
codecov = "*"

[scripts]
tests = "nosetests --tc-file taxadb.ini --with-coverage --cover-package=taxadb"
taxadb = "python -m taxadb"
